@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Supermercado+One&display=swap');


body{
    background-color: #b1b1b1;
}

#newArticles{
    text-align: center;
    font-weight: 900;
    font-family: 'Supermercado One', cursive;
}
#display1{
    background-color:#254d3b;
}
#display{
    font-weight: 800;
    color: #fff;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}