{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Supermercado+One&display=swap" rel="stylesheet">
{% endblock %}
<h1> Hello Source {{ id }} </h1>
        {% block content %}
       
         
        
        
        <h3 id ="newArticles" style="color: #fff; margin-bottom: 3em; margin-top: 2em; margin-left: 2.1em;"> Top New & Popular Articles</h3>
            <ul>
                {{ macro.displayArticleList(article)}}
            </ul>
            {% endblock%}
            
            </ul> 
     