{% import 'macros.html' as macro%}
{% extends 'base.html'%}
    {% block content %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
       
        <!-- Content block -->
        
          
        <h3 id ="head" style="color: #303031; margin-bottom: 3em; margin-top: 2em;"> Top News Today</h3>
        
            <ul>
                {{ macro.displaySourceList(popular)}}
            </ul>
            
            {% endblock%}
    


 


